<h2>Registrar usuario</h2>

<div class="container">
<div class="row">

        <div class="card mt-4">
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="selectedUsuario.nombre" placeholder="Ingrese nombre" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="selectedUsuario.apellido" placeholder="Ingrese apellido" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="selectedUsuario.email" placeholder="Ingrese email" class="form-control">
                    </div>
                    <button *ngIf="selectedUsuario.id==0"
                    (click)="agregarOEditar()" class="btn btn-primary"> 
                      Registrar
                    </button>
                    <button *ngIf="selectedUsuario.id!=0"
                    (click)="agregarOEditar()" class="btn btn-primary"> 
                       Editar
                    </button>
    
                    <button *ngIf="selectedUsuario.id !== 0" (click)=" eliminar()" class="btn btn-danger"> 
                            Eliminar
                        </button>
                </div>
            </div>

            <br><br>

            <h2>Lista de usuarios</h2>
            
    <div class="col-md-8 mt-8">
        <ul class="list-group">
            <li *ngFor="let usuario of listaUsuarios" 
            class="list-group-item  list-group-item-action"
            (click)="openForEdit(usuario)"
            [class.active]="usuario == selectedUsuario">     
            <span class="badge badge-primary">{{usuario.id}}</span>  
                {{usuario.nombre}} - {{usuario.apellido}} - {{usuario.email}}
            </li>
        </ul>

    </div>
</div> 
</div>


