<h2>Registro de Cliente</h2>

<div class="container">
<div class="row">

        <div class="card mt-4">
                <div class="card-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3"><label>Cédula</label></div>
                            <div class="col-md-9">
                                <input type="number" [(ngModel)]="selectedPersona.cedula" placeholder="Ingrese cedula" class="form-control">    
                            </div>                   
                        </div>                                     
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3"><label>Nombre</label></div>
                            <div class="col-md-9">
                                <input type="text" disabled [(ngModel)]="selectedPersona.nombre" placeholder="Ingrese nombre" class="form-control">
                            </div>
                        </div>                   
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3"><label>Apellido</label></div>
                            <div class="col-md-9">
                                <input type="text" disabled [(ngModel)]="selectedPersona.apellido" placeholder="Ingrese apellido" class="form-control">
                            </div>                   
                        </div>                                     
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3"><label>Fecha nacimiento</label></div>
                            <div class="col-md-9">
                                <input type="date" disabled [(ngModel)]="selectedPersona.fecha_nacimiento" placeholder="Ingrese fecha de nacimiento yyyy-dd-mm" class="form-control">
                            </div>                   
                        </div>                                     
                    </div>                  
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3"><label>Dirección</label></div>
                            <div class="col-md-9">
                                <input type="text" disabled [(ngModel)]="selectedPersona.direccion" placeholder="Ingrese direccion" class="form-control">
                            </div>                   
                        </div>                                     
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3"><label>Telefono</label></div>
                            <div class="col-md-9">
                                <input type="number" disabled [(ngModel)]="selectedPersona.telefono" placeholder="Ingrese telefono" class="form-control">
                            </div>                   
                        </div>                                     
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3"><label>Correo</label></div>
                            <div class="col-md-9">
                                <input type="text" disabled [(ngModel)]="selectedPersona.correo" placeholder="Ingrese correo" class="form-control">
                            </div>                   
                        </div>                                     
                    </div>
                <div class="form-group">
                    <div class="row">
                      <div class="col-md-3"><label>Departamento</label></div>
                      <div class="col-md-9">
                        <select disabled [(ngModel)]="selectedDepartamento.id" class="form-control" (change)="listarMunicipios()">
                            <option [ngValue]="0" selected disabled hidden>Seleccione un Departamento</option>
                            <option *ngFor="let dpto of listaDepartamentos" [value]="dpto.id">{{dpto.nombre}}</option>
                        </select>
                      </div>
                    </div>                   
                 </div>
                <div class="form-group">
                    <div class="row">
                      <div class="col-md-3"><label>Municipio</label></div>
                      <div class="col-md-9">
                        <select disabled [(ngModel)]="selectedMunicipio.id" class="form-control">
                          <option [ngValue]="0" selected disabled hidden>Seleccione un Municipio</option>
                          <option *ngFor="let ms of listaMunicipios" [value]="ms.id">{{ms.nombre}}</option>
                        </select>
                      </div>
                    </div>                   
                 </div>
                 <div class="form-group">
                    <div class="row">
                      <div class="col-md-3"><label>Genero</label></div>
                      <div class="col-md-9">
                        <select disabled  [(ngModel)]="selectedPersona.genero" class="form-control">
                          <option [ngValue]="0" selected disabled hidden>Seleccione un genero</option>
                          <option [ngValue]="1">Masculino</option>
                          <option [ngValue]="2">Femenino</option>
                        </select>
                      </div>
                    </div>                   
                 </div>

                <h3>Datos de Inicio de sesion</h3>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3"><label>Username</label></div>
                            <div class="col-md-9">
                                <input type="text" disabled [(ngModel)]="selectedLogin.username" placeholder="Ingrese username" class="form-control">
                            </div>                   
                        </div>                                     
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3"><label>Contraseña</label></div>
                            <div class="col-md-9">
                                <input type="password" disabled [(ngModel)]="selectedLogin.contrasenia" placeholder="Ingrese contraseña" class="form-control">
                            </div>                   
                        </div>                                     
                    </div>
                    <button (click)="buscar()" class="btn btn-success"> 
                      Registrar
                    </button>                       
                </div>
                <div class="aviso alert alert-danger" style="margin: 15px 0 0 0;" *ngIf="show == 1"><div id="close" title="Cerrar">x</div>{{respuesta.msj}}</div>
                <div class="aviso alert alert-success" style="margin: 15px 0 0 0;" *ngIf="show == 2"><div id="close" title="Cerrar">x</div>{{respuesta.msj}}</div>
            </div>

            <br><br>

            <br><br>

            <div class="col-lg-8">
                <br>
                <div class="section_subtitle"> Lista de clientes </div><br>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Cédula</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Fecha de nacimiento</th>                       
                        <th scope="col">Direccion</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Genero</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Municipio</th>
                        <th scope="col">Eliminar</th>
                        <th scope="col">Ver</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let p of listaClientes">
                        <th scope="row">{{p.cedula}}</th>
                        <td>{{p.nombre}}</td>
                        <td>{{p.apellido}}</td>
                        <td>{{p.fecha_nacimiento}}</td>
                        <td>{{p.direccion}}</td>
                        <td>{{p.telefono}}</td>
                        <td>{{p.correo}}</td>
                        <td>
                            <label *ngIf="p.genero==1">Masculino</label>
                            <label *ngIf="p.genero==2">Femenino</label>
                        </td>
                        <td>{{p.rol_id.nombre}}</td>
                        <td>{{p.municipio_id.nombre}}</td>
                        <td><button (click)="eliminar(p)" class="btn btn-danger"> 
                                Eliminar
                            </button></td>
                            <td><button (click)="ver(p)" class="btn btn-warning"> 
                                    Ver empleado
                                </button></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
</div> 
</div>
