<h2>Gestion del personal</h2>

<div class="container">
<div class="row">

        <div class="container">
                <div class="section_subtitle"> Buscar persona </div><br>
                  <div class="row">
                    <div class="col-lg-8">
                            <div class="form-group">
                                    <input type="text" [(ngModel)]="personaSeleccionada.cedula" placeholder="Ingrese cedula" class="form-control">
                                </div> </div>
                    <div class="col-lg-4" style="padding-left: 0">
                            <button (click)="buscar()" class="btn btn-warning"> 
                                    Buscar
                                 </button>
                    </div>
                  </div>
            </div>

            <br><br>

            

            <div class="col-lg-8">
                    <h4>Registrar empleado</h4>
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="personaSeleccionada.cedula" placeholder="Ingrese cedula" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="personaSeleccionada.nombre" placeholder="Ingrese nombre" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="personaSeleccionada.apellido" placeholder="Ingrese apellido" class="form-control">
                    </div>
                    <div class="form-group">
                      <input type="date" [(ngModel)]="personaSeleccionada.fecha_nacimiento" placeholder="Ingrese fecha de nacimiento yyyy-dd-mm" class="form-control">
                  </div>
                  <div class="form-group">
                    <input type="text" [(ngModel)]="personaSeleccionada.direccion" placeholder="Ingrese direccion" class="form-control">
                </div>
                <div class="form-group">
                        <select  [(ngModel)]="tipoPersonalSeleccionado.id" class="form-control">
                                <option [ngValue]="0" selected disabled hidden>Seleccione el tipo de usuario</option>
                                <option *ngFor="let tp of listaTipoPersonal" [value]="tp.id">{{tp.descripcion}}</option>
                          </select>
                </div>
                    <div class="form-group">
                         <input type="text" [(ngModel)]="loginSeleccionado.username" placeholder="Ingrese username" class="form-control">
                    </div>
                    <div class="form-group">
                         <input type="password" [(ngModel)]="loginSeleccionado.contrasenia" placeholder="Ingrese contraseña" class="form-control">
                    </div>
                    <button (click)="registrar()" class="btn btn-success" > 
                      Registrar
                    </button>
                    <button (click)="editar()" class="btn btn-info" style="padding-left: 5px"> 
                       Editar
                    </button>
                        <div class="aviso alert alert-danger" style="margin: 15px 0 0 0;" *ngIf="show == 1"><div id="close" title="Cerrar">x</div>{{respuesta.msj}}</div>
                        <div class="aviso alert alert-success" style="margin: 15px 0 0 0;" *ngIf="show == 2"><div id="close" title="Cerrar">x</div>{{respuesta.msj}}</div>
                        
                        
                </div>
            </div>

            <br><br>

            <div class="col-lg-8">
                <br>
                <div class="section_subtitle"> Lista de empleados </div><br>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Cedula</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Fecha de nacimiento</th>
                        <th scope="col">Experiencia</th>
                        <th scope="col">Formacion</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Eliminar</th>
                        <th scope="col">Ver</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let p of listaPersonal">
                        <th scope="row">{{p.cedula}}</th>
                        <td>{{p.nombre}}</td>
                        <td>{{p.apellido}}</td>
                        <td>{{p.fecha_nacimiento}}</td>
                        <td>{{p.experiencia}}</td>
                        <td>{{p.formacion}}</td>
                        <td>{{p.direccion}}</td>
                        <td>{{p.rol}}</td>
                        <td><button (click)=" eliminar()" class="btn btn-danger"> 
                                Eliminar
                            </button></td>
                            <td><button (click)="ver(p)" class="btn btn-warning"> 
                                    Ver empleado
                                </button></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
</div> 
</div>


