<h2>Registro de Cliente</h2>

<div class="container">
<div class="row">

        <div class="card mt-4">
                <div class="card-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3"><label>Nombre</label></div>
                            <div class="col-md-9">
                                <input type="text" [(ngModel)]="selectedPersona.nombre" placeholder="Ingrese nombre" class="form-control">
                            </div>
                        </div>                   
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3"><label>Apellido</label></div>
                            <div class="col-md-9">
                                <input type="text" [(ngModel)]="selectedPersona.apellido" placeholder="Ingrese apellido" class="form-control">
                            </div>                   
                        </div>                                     
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3"><label>Fecha nacimiento</label></div>
                            <div class="col-md-9">
                                <input type="date" [(ngModel)]="selectedPersona.fecha_nacimiento" placeholder="Ingrese fecha de nacimiento yyyy-dd-mm" class="form-control">
                            </div>                   
                        </div>                                     
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3"><label>Cédula</label></div>
                            <div class="col-md-9">
                                <input type="number" [(ngModel)]="selectedPersona.cedula" placeholder="Ingrese cedula" class="form-control">    
                            </div>                   
                        </div>                                     
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3"><label>Dirección</label></div>
                            <div class="col-md-9">
                                <input type="text" [(ngModel)]="selectedPersona.direccion" placeholder="Ingrese direccion" class="form-control">
                            </div>                   
                        </div>                                     
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3"><label>Telefono</label></div>
                            <div class="col-md-9">
                                <input type="number" [(ngModel)]="selectedPersona.telefono" placeholder="Ingrese telefono" class="form-control">
                            </div>                   
                        </div>                                     
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3"><label>Correo</label></div>
                            <div class="col-md-9">
                                <input type="text" [(ngModel)]="selectedPersona.correo" placeholder="Ingrese correo" class="form-control">
                            </div>                   
                        </div>                                     
                    </div>
                <div class="form-group">
                    <div class="row">
                      <div class="col-md-3"><label>Departamento</label></div>
                      <div class="col-md-9">
                        <select  [(ngModel)]="selectedDepartamento.id" class="form-control" (change)="listarMunicipios()">
                            <option [ngValue]="0" selected disabled hidden>Seleccione un Departamento</option>
                            <option *ngFor="let dpto of listaDepartamentos" [value]="dpto.id">{{dpto.nombre}}</option>
                        </select>
                      </div>
                    </div>                   
                 </div>
                <div class="form-group">
                    <div class="row">
                      <div class="col-md-3"><label>Municipio</label></div>
                      <div class="col-md-9">
                        <select  [(ngModel)]="selectedMunicipio.id" class="form-control">
                          <option [ngValue]="0" selected disabled hidden>Seleccione un Municipio</option>
                          <option *ngFor="let ms of listaMunicipios" [value]="ms.id">{{ms.nombre}}</option>
                        </select>
                      </div>
                    </div>                   
                 </div>
                 <div class="form-group">
                    <div class="row">
                      <div class="col-md-3"><label>Genero</label></div>
                      <div class="col-md-9">
                        <select  [(ngModel)]="selectedPersona.genero" class="form-control">
                          <option [ngValue]="0" selected disabled hidden>Seleccione un genero</option>
                          <option [ngValue]="1">Masculino</option>
                          <option [ngValue]="2">Femenino</option>
                        </select>
                      </div>
                    </div>                   
                 </div>

                <h3>Datos de Inicio de sesion</h3>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3"><label>Username</label></div>
                            <div class="col-md-9">
                                <input type="text" [(ngModel)]="selectedLogin.username" placeholder="Ingrese username" class="form-control">
                            </div>                   
                        </div>                                     
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3"><label>Contraseña</label></div>
                            <div class="col-md-9">
                                <input type="password" [(ngModel)]="selectedLogin.contrasenia" placeholder="Ingrese contraseña" class="form-control">
                            </div>                   
                        </div>                                     
                    </div>
                    <button (click)="registrar()" class="btn btn-success"> 
                      Registrar
                    </button>                       
                </div>
            </div>

            <br><br>

            
</div> 
</div>
